/*
    Main Colors:
        White: #FFF7F8
        Mid: #DCD1D1
        Dark: #525251
		Black: #111111

    Accents:
        Yellow: #E2EF70
        Red: #FB3640
        Purple: #E2C2FF
        Blue: #70E4EF
        Green: #78C091
*/

/*Elements Styling*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	color: #fff7f8;
	font-family: "Poppins", sans-serif;
}
body {
	overflow-x: hidden;
	background: #111111;
}
:root,
body,
.full-size {
	width: 100%;
	height: 100%;
}
section {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: relative;
}
ul {
	list-style-type: none;
	display: flex;
}
button {
	appearance: none;
	background: none;
	border: none;
	display: flex;
	align-items: center;
	flex-direction: column;
}
button img {
	height: 100%;
	width: auto;
}
button:focus {
	outline: none;
}
button * {
	filter: drop-shadow(#52525152 0 2.5px 2.5px);
	transition: all .1s ease-out;
}
button:active * {
	filter: drop-shadow(#52525152 0 2.5px 2.5px) brightness(.5);
}
button:active img {
	transform: scale(.75);
}

/*Custom scrollbar*/
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #b9b4b4;
}

::-webkit-scrollbar-thumb {
	background: #525251;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #313131;
}

/*Typography*/
h1 {
	font-size: 7rem;
	font-weight: 600;
	line-height: 1em;
	text-align: center;
	text-shadow: #52525152 0 2.5px 2.5px;
}
h2 {
	font-size: 5rem;
	font-weight: 600;
	text-shadow: #52525152 0 2.5px 2.5px;
}
p, label, a {
	color: #dcd1d1;
	font-size: 1rem;
}
a {
	text-decoration: none;
	text-shadow: #52525152 0 2.5px 2.5px;
}

/*Nav bar*/
nav {
	position: fixed;
	left: 50%;
	top: 1rem;
	transform: translateX(-50%);
	width: 90%;
	border-radius: 10px;
	z-index: 999;
	box-shadow: #52525152 0 2.5px 2.5px;
}
.nav-item {
	border-right: 2.5px solid #fff7f8;
	flex: 1;
	overflow: hidden;
}
.nav-item:last-child {
	border: none;
}
.nav-item a {
	display: flex;
	justify-content: center;
	position: relative;
	user-select: none;
}
.nav-item * {
	transition: transform 0.25s ease-out;
}
.nav-item img {
	position: absolute;
	filter: drop-shadow(#52525152 0 2.5px 2.5px);
	transform: translateY(2em);
}
.nav-item:hover p {
	transform: translateY(-2em);
}
.nav-item:hover img {
	transform: translateY(0em);
}

/*Hero area*/
#hero-area {
	background: linear-gradient(to top, #111111, transparent);
    position: absolute;
    top: 0;
    pointer-events: none;
}
#hero-area * {
	pointer-events: all;
}
#hero-text {
	bottom: 1em;
}
#scroll-to {
	bottom: 1rem;
	height: 4rem;
} 
.scrolling-text {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: auto;
	position: absolute;
	right: 0;
	top: 0;
	transform: translateX(1rem) skewY(15deg);
}

/*Other Classes*/
.container, .container-dark {
	padding: 1rem;
}
.container {
	background: linear-gradient(to bottom right, #dcd1d150, #52525185);
}
.center-absolute {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
}
.watermark {
	opacity: 0.15;
	color: #fff7f8;
	-webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
	-webkit-text-stroke: 2.5px #fff7f8;
	user-select: none;
	transition: all 0.3s ease-out;
	white-space: nowrap;
	font-size: 7rem;
	font-weight: 500;
	line-height: 1.5em;
}
.watermark.solid {
	-webkit-text-fill-color: #fff7f8;
	opacity: 0.25;
	transform: translateX(-1rem);
}
.multi-color {
	color: #fff7f8;
	animation: multi-color 10s linear infinite alternate;
}
@keyframes multi-color {
	0% { color: #E2EF70; }
	25% { color: #E2C2FF; }
	50% { color: #70E4EF; }
	75% { color: #78C091; }
	100% { color: #FB3640; }
}

/*Cursor*/
#cursor {
	position: fixed;
	left: 0;
	top: 0;
	width: 50px;
	height: 50px;
	z-index: 9999;
	pointer-events: none;
	transform-origin: center center;
	transition: all 0.1s ease-out;
	transition-property: width, height, border-radius;
}
#cursor img {
	width: 100%;
	user-select: none;
}
#cursor.select {
	width: 60px;
	height: 60px;
}
#cursor.focus, #cursor.select {
	opacity: .25;
}
.no-cursor * {
	cursor: none !important;
}

/*Background effect for homepage*/
.background div  {
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-color: #525251;
	position: absolute;
}