/*-----------------Basic Elements Styling-----------------*/
@font-face {
	font-family: "Stanley";
	src: url("../Fonts/Stanley.otf");
}
:root {
	/*Main colors*/
	--white: #FFF7F8;
	--mid: #DCD1D1;
	--dark: #525251;
	--black: #111111;
	/*Accents*/
	--yellow: #E2EF70;
	--red: #FB3640;
	--purple: #E2C2FF;
	--blue: #70E4EF;
	--green: #78C091;
	--dark-transparent: #525251bd;
	/*Grads*/
	--light-grad: linear-gradient(to bottom right, #DCD1D150, #52525185);
	--dark-grad: linear-gradient(to bottom right, #525251eb, #111111cf);
	--color-grad: linear-gradient(to top right,
		var(--yellow), var(--purple), var(--blue), var(--red), var(--green)
	);
	/*A random delay to offset the gradient animations*/
	--rand-delay: 0s;
	/*Shadows*/
	--shadow: #11111152 0 2.5px 2.5px;
	--text-shadow: #11111152 0 2.5px 2.5px;
	/*Fonts*/
	--main-font: "Poppins", sans-serif;
	--secondary-font: "Stanley", serif;
	/*Sizes*/
	--border-width: 1.5px;
	--border-radius: 10px;
}
*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--main-font);
	font-weight: 300;
	color: var(--white);
	-webkit-tap-highlight-color: transparent;
}
body {
	background: var(--black);
	overflow-x: hidden;
	font-family: var(--main-font);
}
:root,
body,
.full-size {
	width: 100%;
	height: 100%;
}
section {
	width: 100vw;
	min-height: 100vh;
	position: relative;
	overflow: hidden;
}

ul {
	list-style-type: none;
	display: flex;
	justify-content: space-around;
}
.vertical, .vertical ul { flex-direction: column }

button {
	appearance: none;
	background: none;
	border: none;
	display: flex;
	align-items: center;
	flex-direction: column;
	cursor: pointer;
}
button.no-flex {
	display: initial;
}
button img {
	height: 100%;
	width: auto;
	user-select: none;
}
button:focus {
	outline: none;
}
button * {
	filter: drop-shadow(var(--text-shadow));
	transition: all .1s ease-out;
	text-align: center;
}
button:active * {
	filter: drop-shadow(var(--text-shadow)) brightness(.5);
	transform: scale(.75);
}

img {
	object-fit: cover;
	display: block;
	filter: drop-shadow(var(--text-shadow));
}

canvas {
	position: absolute;
	top: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
}

figure { position: relative }
figure > * {
	width: 100%;
	height: 100%;
}
figure figcaption {
	display: flex;
	flex-direction: column;
	padding: 2em;
	clip-path: inset(0 0 0 100%);
	background: var(--dark-transparent);
	backdrop-filter: blur(20px);
	transition: all .5s ease-in-out;
	position: absolute;
	top: 0;
}
figure figcaption a { margin-top: auto }
figure:hover figcaption,
figure:focus figcaption { clip-path: inset(0 0 0 0) }

/*-----------------Typography-----------------*/
h1, h2, h3, h4 {
	text-shadow: var(--text-shadow);
	font-weight: 600;
	line-height: 1em;
}
h1 {
	/*Fallback*/
	font-size: 5rem;
	font-size: 20vmin;
	text-align: center;
}
h2 { font-size: 2.5rem }
h3 { font-size: 2.5rem }
h4 { font-size: 1rem }
p, a, label, time {
	color: var(--white);
	line-height: 1.5em;
	font-size: 1rem;
}
strong, em, b {
	font-family: var(--secondary-font);
	/*The font will need to be scaled because it starts sort of small*/
	font-size: 1.25em;
}
/*Whatever is the current font size, scale by 3*/
strong { font-size: 3em }
em, nav.vertical .nav-link {
	display: inline-block;
	text-transform: capitalize;
	font-style: normal;
	margin: 0 !important;
	animation: multi-color 50s linear infinite alternate;
	animation-delay: var(--rand-delay);
}
@supports (-webkit-text-fill-color: transparent) and ((-webkit-background-clip: text) or (background-clip: text)) {
	em, em *, nav.vertical .nav-link {
		background: var(--color-grad);
		background-size: 1000% 1000%;
		-webkit-text-fill-color: transparent;
		-webkit-background-clip: text;
		background-clip: text;
		animation: move-background 50s linear infinite alternate;
	}
}
a {
	text-decoration: none;
	text-shadow: var(--text-shadow);
}
a::after {
	content: "";
	width: 100%;
	height: var(--border-width);
	left: 0;
	bottom: 0;
	background-color: var(--mid);
	position: absolute;
	transform: scaleX(0);
	transform-origin: left;
	transition: transform .25s ease-in-out;
}
a:focus { outline: none }
a:hover::after,
a:focus::after { transform: scaleX(1) }
a[href="#"] {
	pointer-events: none;
    opacity: .5;
}
a[href="#"]::after {
	top: 50%;
	transform: translateY(-50%);
}
span {
	font-family: inherit;
	font-weight: inherit;
	text-transform: none;
	display: inline-block;
	backface-visibility: hidden;
}
blockquote {
    margin-left: 0;
    position: relative;
    text-align: center;
    padding-bottom: 2em;
	max-width: 35em;
}
blockquote cite {
	font-weight: 500;
	position: absolute;
    bottom: 0;
    right: 2em;
    font-style: normal;
    color: var(--dark) !important;
	animation: float-anim 5s ease-in-out infinite alternate;
	white-space: nowrap;
	font-size: 1rem;
}
::selection {
	background-color: var(--dark-transparent);
	color: var(--white);
}
.right-align, .right-align * {
	text-align: right;
	transform-origin: right;
}

/*-----------------Custom scrollbar-----------------*/
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
::-webkit-scrollbar-track {
	background: var(--mid);
}
::-webkit-scrollbar-thumb {
	background: var(--dark);
	border-radius: var(--border-radius);
}
::-webkit-scrollbar-thumb:active {
	background: var(--black);
}

/*-----------------Nav bar-----------------*/
nav {
	position: fixed;
	z-index: 99;
	display: flex;
	padding: 1em;
	/*It is hidden so that the script only shows the nav when it is ready (Important for noscript)*/
	visibility: hidden;
}
.nav-link {
	position: relative;
	user-select: none;
	font-size: 1rem;
}
nav ul {
	flex: 1;
	align-items: center;
}
nav li {
	display: flex;
	justify-content: center;
	overflow: hidden;
}

/*Nav bar - Horizontal*/
nav.horizontal {
	width: 100%;
    background: linear-gradient(to bottom, #11111152, transparent);
}
nav.horizontal li { flex: 1 }

/*Nav bar - Vertical*/
nav.vertical {
	width: 100%;
	height: 100%;
	border-radius: 0;
	clip-path: circle(1.5rem at 2rem 2rem);
	transition: clip-path .5s ease-out .5s;
	background: var(--black);
}
nav.vertical #nav-logo { display: none }
nav.open {
	clip-path: circle(100% at 50% 50%); 
	transition: clip-path .5s ease-out; 
}
nav.vertical .nav-link { font-size: 5vmin }
#nav-burger {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-left: 0;
}
.line {
	width: 100%;
	height: var(--border-width);
	border-radius: var(--border-radius);
	background-color: var(--white);
	transition: all .5s ease-out;
}
.open .line:first-child { transform: translateY(.65rem) rotate(45deg) }
.open .line:nth-child(2) { opacity: 0 }
.open .line:last-child { transform: translateY(-.65rem) rotate(-45deg) }


/*-----------------Hero area-----------------*/
#hero-text {
	bottom: 50%;
	transform: translate(-50%, 50%);
}
#hero-text em {
	
}
#scroll-to {
	bottom: 1rem;
} 
.scrolling-text {
	flex-direction: column;
	align-items: flex-end;
	width: auto;
	right: -1rem;
	min-height: 100%;
	transform: skewY(15deg);
}
/*Background effect for homepage*/
.background div  {
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-color: var(--dark);
	position: absolute;
}

/*-----------------Aside areas-----------------*/
aside {
	position: absolute;
    bottom: -.5rem;
    width: 100%;
    height: 100%;
    overflow: auto;
	padding: 2.5rem !important;
	transition: all .5s ease-out;
	transition-property: transform, opacity;
}
.expandable { transform: translateY(100%) }
.expandable.expand { transform: none }
/*If it has an expand button, it needs to be offsetted slightly to compensate*/
.with-expand-button { transform: translateY(100%) translateY(-4rem); }
.expand-button {
	/*Its important that this is !important so that gsap will not animate this transform*/
	transform: rotate(180deg) translateY(90%);
	transition: transform .5s ease-out;
}
.expand .expand-button { transform: none }

/*-----------------Loading Section-----------------*/
.progress-value {
	font-size: 5em;
	font-family: var(--secondary-font);
	color: var(--white);
}
.progress-value::after {
	content: "%";
	color: inherit;
	font-family: inherit;
	font-weight: inherit;
    font-size: .5em;
    margin-left: .2em;
}

/*-----------------Containers-----------------*/
[class*="container"] {
	border-radius: var(--border-radius);
	padding: 1rem;
	background: var(--light-grad);
}

/*Container colors*/
@supports not (backdrop-filter: blur(20px) brightness(.6)) { [class*="container"][class*="glass-"] { background: var(--dark-grad) } }
[class*="container"][class*="glass-"] { backdrop-filter: blur(20px) brightness(.6) }
[class*="container"][class*="dark-"] { background: var(--dark-grad) }
[class*="container"][class*="black-"] { background: var(--black) }
[class*="container"][class*="multi-"] {
	background: var(--color-grad);
	background-size: 1000% 1000%;
	animation: move-background 50s linear infinite alternate;
	animation-delay: var(--rand-delay);
}
[class*="container"][class*="multi-"] *:not(h1, h2, h3) { color: var(--black) }
[class*="container"][class*="multi-"] a::after { background: var(--black) }
[class*="container"][class*="clear-"] { background: none !important }

/*Types of containers*/
[class*="container"][class*="text-"] { padding: 2rem }
[class*="container"][class*="text-"] *:not(div) { margin-bottom: .5em }
section[class*="container"] {
	border-radius: 0;
	overflow: hidden;
}

/*-----------------Extra Classes-----------------*/
/*Useful shapes*/
.tall-box {
	width: 30vw;
	height: 40vw;
    min-width: 15rem;
    min-height: 20rem;
	margin: 1rem;
}
.square {
	height: 2rem;
	width: 2rem;
	margin: 0 auto;
}

/*Before-and-after image slider*/
.before-after {
    position: relative;
    height: auto;
    width: auto;
}
.before-after * {
	margin: 0;
    top: 0;
}
.after {
    position: absolute;
    overflow: hidden;
}
.slider {
    width: var(--border-width);
    height: 100%;
    position: absolute;
    background: var(--white);
}

/*Centering classes*/
.center-x {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
.center-y {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.center-content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}


/*Pointer classes*/
.no-pointer {
	pointer-events: none;
	user-select: none;
}
.no-pointer * {
	pointer-events: all;
	user-select: all;
}
.to-black {
	background: linear-gradient(to bottom, transparent, var(--black));
    position: absolute;
    top: 0;
}

/*Parallax effect*/
.parallax-child { position: absolute }

/*Sources section*/
#sources {
	flex-direction: column;
	align-items: center;
}
#sources li {
	position: relative;
	margin: 0;
	padding: 1em 0;
}
#sources li:before, #sources li:last-child:after {
	content: "";
	position: absolute;
	width: 90vw;
	height: var(--border-width);
	background: var(--black);
	left: 50%;
	top: 0;
	transform: translateX(-50%);
}
#sources li:last-child:after {
	bottom: 0;
	top: auto;
}
#sources a {
	display: inline-block;
	white-space: nowrap;
    font-size: 1.5rem;
	font-weight: 600;
	position: relative;
	padding: 0 .25em;
	margin: 0;
}
#sources a:after { display: none }
#sources a:last-child {
	position: absolute;
	left: 0;
}

/*Background watermark effects*/
.watermark:not(img), .watermark:not(img) * {
	user-select: none;
	white-space: nowrap;
	text-shadow: none;
	touch-action: none;
}
.watermark:not(img) {
	position: absolute;
	color: var(--white);
	-webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
	-webkit-text-stroke: var(--border-width) var(--white);
	font-size: 5rem;
}
.watermark:not(img) * {
	transition: all 0.3s ease-out;
	opacity: 0.15;
}
.watermark:not(img) .solid {
	-webkit-text-fill-color: var(--white);
	opacity: 0.25;
	transform: translateX(-1rem);
}
img.watermark {
	opacity: .1;
	transform: scale(5);
	position: absolute;
	pointer-events: none;
}

/*Creates button-like elements out of links*/
.link-button {
	text-transform: uppercase;
    border: var(--border-width) solid var(--white);
    border-radius: var(--border-radius);
	box-shadow: 0 .5em 0 0 var(--white);
	margin: 1em 0;
	margin-right: auto;
    padding: .75em;
	transition: all .1s ease-out;
}
.link-button:hover,
.link-button:focus {
	box-shadow: 0 0 0 0 var(--white);
	transform: translateY(.5rem);
}
.link-button.dark {
	border-color: var(--black);
	box-shadow: 0 10px 0 0 var(--black);
	color: var(--black);
}
.link-button.dark:hover, .link-button.dark:focus { box-shadow: 0 0 0 0 var(--black) }
.link-button::after { display: none }

/*-----------------Cursor + Fixed Elements-----------------*/
/*Fixed elements in general*/
.fixed-element {
	position: fixed;
	z-index: 999;
	left: 0;
	top: 0;
}
.fixed-element:not(section) {
	pointer-events: none;
	user-select: none;
	opacity: .8;
}

/*Cursor*/
#cursor {
	transform-origin: center center;
	mix-blend-mode: difference;
}
#cursor img {
	width: 50px;
	height: 50px;
	margin: 1em auto;
}
img.cursor-mode { margin: 0 !important }
.cursor-mode {
	--shrink-speed: .1s;
	--grow-speed: .25s;
	user-select: none;
	position: absolute;
	transform: translate(-50%, -50%) scale(0);
	transition: transform var(--shrink-speed) ease-out;
	white-space: nowrap;
}
.cursor-mode.current {
	transform: translate(-50%, -50%) scale(1);
	transition: transform var(--grow-speed) cubic-bezier(0.6, 0, 0.4, 2) var(--shrink-speed);
}

/*Tooltips*/
#tooltip h3 { font-size: 1.25rem }
#tooltip p { font-size: 1rem }

/*-----------------Responsitivity (Mobile First Design)-----------------*/
@media screen and (min-width: 25rem) {
	:root { --border-width: 2.5px }

	/*Typography*/
	h1 { font-size: 5rem }
	h2 {
		font-size: 3rem;
		text-align: center;
	}
	.link-button { margin: 1em }
	a, p { font-size: 1.25rem }
}
@media screen and (min-width: 50rem) {
	/*Typography*/
	h1 { font-size: 7rem }
	h2 { font-size: 5rem }
	a, p { font-size: 1.5rem }

	/*Aside*/
	aside {
		--margin: 1rem;
		position: absolute;
		right: 2.5%;
		/*The calcs compensate for the space taken by the nav*/
		top: calc(5rem + var(--margin));
		width: 25rem;
		height: calc(100% - 5rem - var(--margin) * 2);
		min-height: 2rem;
		transform: translateY(-50%);
	}
	aside.expandable {
		transform: translateX(100%);
		opacity: 0;
	}
	aside.expandable.expand {
		transform: none;
		opacity: 1;
	}
	.expand-button {
		display: none;
	}

	/*Misc.*/
	#hero-text { bottom: 2em }
	.square {
		height: 3rem;
		width: 3rem;
	}
	.watermark:not(img) { font-size: 7rem }
	[class*="container"][class*="text-"] { padding: 5rem 7rem }
	.parallax-child { position: initial }
	#sources a { font-size: 3rem }
}
@media screen and (min-width: 75rem) {
	[class*="container"][class*="text-"] { padding: 5rem 15rem }
}

/*-----------------Animations-----------------*/
@keyframes multi-color {
	0% { color: var(--yellow) }
	25% { color: var(--purple) }
	50% { color: var(--blue) }
	75% { color: var(--red) }
	100% { color: var(--green) }
}
@keyframes move-background {
	from { background-position: bottom left }
	to { background-position: top right }
}
@keyframes float-anim {
	from { transform: translateY(0%) }
	to { transform: translateY(50%) }
}
@media (prefers-reduced-motion: reduce) {
	*,
	::before,
	::after {
		animation-delay: -1ms !important;
		animation-duration: 1ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0s !important;
		transition-delay: 0s !important;
	}
}
.no-anim, .no-anim * {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
	-webkit-animation: none !important;
	-moz-animation: none !important;
	-o-animation: none !important;
	animation: none !important;
}