/*Elements Styling*/
:root {
	/*Main colors*/
	--white: #FFF7F8;
	--mid: #DCD1D1;
	--dark: #525251;
	--black: #111111;
	/*Accents*/
	--yellow: #E2EF70;
	--red: #FB3640;
	--purple: #E2C2FF;
	--blue: #70E4EF;
	--green: #78C091;
	/*Other vars*/
	--light-grad: linear-gradient(to bottom right, #DCD1D150, #52525185);
	--dark-grad: linear-gradient(to bottom right, #525251c9, #11111152);
	--color-grad: linear-gradient(to top right, var(--yellow), var(--purple), var(--blue));
	--secondary-color-grad: linear-gradient(to top right, var(--red), var(--yellow), var(--green));
	/*Shadows*/
	--shadow: #11111152 0 2.5px 2.5px;
	--text-shadow: #11111152 0 2.5px 2.5px;
	--glow-shadow: #fff7f852 0px 0px 10px;
	/*Fonts*/
	--main-font: "Poppins", sans-serif;
	--secondary-font: "Lobster", cursive;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--main-font);
	font-weight: 500;
	color: var(--white);
}
body {
	background: var(--black);
	overflow-x: hidden;
}
:root,
body,
.full-size {
	width: 100%;
	height: 100%;
}
section {
	width: 100%;
	height: 100vh;
	position: relative;
}
ul {
	list-style-type: none;
	display: flex;
	justify-content: space-around;
}
.vertical, .vertical ul {
	flex-direction: column;
}
button {
	appearance: none;
	background: none;
	border: none;
	display: flex;
	align-items: center;
	flex-direction: column;
	cursor: pointer;
}
button img {
	height: 100%;
	width: auto;
	user-select: none;
}
button:focus {
	outline: none;
}
button * {
	filter: drop-shadow(var(--text-shadow));
	transition: all .1s ease-out;
	text-align: center;
}
button:active * {
	filter: drop-shadow(var(--text-shadow)) brightness(.5);
	transform: scale(.75);
}
img {
	object-fit: cover;
	display: block;
	filter: drop-shadow(var(--text-shadow));
}
canvas {
	position: absolute;
	top: 0;
	padding: 0;
}
main { transition: filter 1s ease-out }
main.darken { 
	filter: blur(20px) brightness(50%);
	pointer-events: none;
}

/*Typography*/
h1, h2, h3, h4 {
	text-shadow: var(--text-shadow);
	font-weight: 600;
	line-height: 1em;
}
h1 { font-size: 5rem; text-align: center; }
h2 { font-size: 3rem; text-align: center; }
h3 { font-size: 2.5rem }
h4 { font-size: 1rem }
p, label, time {
	color: var(--mid);
	line-height: 1.5em;
	font-size: 1rem;
}
strong {
	font-family: var(--secondary-font);
	display: inline-block;
	text-transform: capitalize;
}
blockquote {
	font-style: italic;
    margin-left: 0;
    position: relative;
    text-align: center;
    padding-bottom: 2em;
	max-width: 35em;
}
blockquote cite {
	position: absolute;
    bottom: 0;
    right: 2em;
    font-style: normal;
    color: var(--mid);
	animation: float-anim 5s ease-in-out infinite alternate, multi-color 10s linear infinite alternate;
	white-space: nowrap;
}
a {
	text-decoration: none;
	text-shadow: var(--text-shadow);
}
a[href="#"] {
	pointer-events: none;
    opacity: .5;
}
::selection {
	background-color: var(--dark);
	color: var(--white);
}
.right-align {
	text-align: right;
}

/*Custom scrollbar*/
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
::-webkit-scrollbar-track {
	background: var(--mid);
}
::-webkit-scrollbar-thumb {
	background: var(--dark);
	border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
	background: var(--black);
}

/*Nav bar*/
nav {
	position: fixed;
	z-index: 99;
	box-shadow: var(--shadow);
	display: flex;
	/*It is hidden so that the script only shows the nav when it is ready (Important for noscript)*/
	visibility: hidden;
}
.nav-link {
	display: flex;
	justify-content: center;
	position: relative;
	user-select: none;
	font-size: 1rem;
}
nav ul {
	flex: 1;
}
.nav-link, .nav-link * {
	transition: transform 0.25s ease-out;
}
/*Nav bar - Horizontal*/
nav.horizontal {
	transform: translateX(-50%);
	left: 50%;
	top: 1rem;
	width: 95%;
}
nav.horizontal li {
	border-right: 2.5px solid var(--white);
	flex: 1;
	overflow: hidden;
}
nav.horizontal li:last-child { border: none }
nav.horizontal img {
	transform: translateY(2em);
	position: absolute;
}
nav.horizontal .nav-link:hover span,
nav.horizontal .nav-link:focus span {
	transform: translateY(-2em);
}
nav.horizontal .nav-link:hover img,
nav.horizontal .nav-link:focus img {
	transform: translateY(0em);
}
/*Nav bar - Vertical*/
nav.vertical {
	transform: translate(-38%, -53%);
	left: 2.5%;
	top: 50%;
	height: 95%;
	clip-path: circle(1.5rem at 50% 2rem);
	transition: clip-path .5s ease-out, transform .25s ease-out;
}
/*I chose to animate the clip-path in css rather than js because it is 100x easier*/
nav.open {
	transform: translateY(-50%);
	clip-path: circle(100% at 50% 50%);
}
nav.vertical img {
    margin-right: 1em;
    order: -1;
}
nav.vertical .nav-link:hover {
	transform: scale(1.25);
}
#nav-burger {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.open .line:first-child {
	transform: translateY(325%) rotate(45deg);
}
.open .line:nth-child(2) {
	opacity: 0;
}
.open .line:last-child {
	transform: translateY(-325%) rotate(-45deg);
}


/*Hero area*/
#hero-area {
	background: linear-gradient(to top, var(--black), transparent);
    position: absolute;
    top: 0;
    pointer-events: none;
}
#hero-area * {
	pointer-events: all;
}
#hero-text {
	bottom: 50%;
	transform: translate(-50%, 50%);
}
#scroll-to {
	bottom: 1rem;
} 
.scrolling-text {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: auto;
	position: absolute;
	right: 0;
	top: 0;
	transform: translateX(1rem) skewY(15deg);
}

/*Aside areas*/
aside {
	position: absolute;
    bottom: -.5rem;
    width: 100%;
    height: 100%;
    overflow: auto;
	padding: 2.5rem !important;
	transition: all .5s ease-out;
	transition-property: transform, opacity;
}
.expandable {
	transform: translateY(100%);
}
.expandable.expand {
	transform: none;
}
/*If it has an expand button, it needs to be offsetted slightly to compensate*/
.with-expand-button {
	transform: translateY(100%) translateY(-4rem);
}
.expand-button {
	/*Its important that this is !important so that gsap will not animate this transform*/
	transform: rotate(180deg) translateY(90%);
	transition: transform .5s ease-out;
}
.expand .expand-button {
	/*Its important that this is !important so that gsap will not animate this transform*/
	transform: none;
}

/*Loading Section*/
.progress-bar {
	background-color: #313131;
    border: 1px solid var(--mid);
    border-radius: 1rem;
    width: 15rem;
    height: .5rem;
}
.progress-completed {
	animation: multi-color-background 5s linear infinite alternate;
	height: 100%;
	border-radius: inherit;
	transition: width 1s ease-out;
}
.cube {
	/*Used as a custom property of some sort with the em that represents width*/
	font-size: 5vmin;
	transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    height: 1em;
    width: 1em;
    margin: 1em;
	padding: 1em;
    box-sizing: content-box;
	transform: perspective(400px);
}
.cube.watermark {
	font-size: 25vmin;
	position: absolute;
    animation-duration: 100s !important;
}
.watermark .face {
	opacity: .1;
	animation: none !important;
}
.face {
	transform: rotate3d(var(--i, 0), var(--j, 1), 0, var(--a, 0deg)) translateZ(.5em);
    width: 1em;
    height: 1em;
    position: absolute;
	border: 3px solid var(--mid);
}
.face:nth-child(n + 5) { --i: 1; --j: 0 }
.face:nth-child(2) { --a: 90deg }
.face:nth-child(3) { --a: 180deg }
.face:nth-child(4) { --a: 270deg }
.face:nth-child(5) { --a: 90deg }
.face:nth-child(6) { --a: -90deg }

/*Containers*/
[class*="container"] {
	border-radius: 1rem;
	padding: 1rem;
	background: var(--light-grad);
}
/*Container colors*/
[class*="container"][class*="glass-"] {
	backdrop-filter: blur(20px) brightness(.6);
}
[class*="container"][class*="multi-"] {
	background: var(--color-grad);
	background-size: 200vw 200vh;
	animation: move-background 10s linear infinite alternate;
}
[class*="container"][class*="multi-"] p {
	color: var(--black);
}
[class*="container"][class*="secondary-multi-"] {
	background: var(--secondary-color-grad);
	background-size: 200vw 200vh;
}
[class*="container"][class*="dark-"] {
	background: var(--dark-grad);
}
[class*="container"][class*="black-"] {
	background: var(--black);
}
/*Container types*/
[class*="container"][class*="text-"] {
	padding: 4rem;
}
/*This selector is uncomfortably long :(*/
[class*="container"][class*="text-"] *:not(:only-child) {
	margin-bottom: .5em;
}
section[class*="container"] {
	border-radius: 0;
	overflow: hidden;
}
.center-content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

/*Extra Classes*/
.tall-box {
	width: 30vw;
	height: 40vw;
	margin: 1rem;
	transition: box-shadow 1s ease-out;
}
.tall-box:hover {
	box-shadow: var(--glow-shadow);
}
.before-after {
    position: relative;
    height: auto;
    width: auto;
}
.before-after * {
	margin: 0;
    top: 0;
}
.after {
    position: absolute;
    overflow: hidden;
}
.slider {
    width: .5rem;
    height: 100%;
    position: absolute;
    background: var(--white);
	transform: translateX(-50%);
}
.center-x {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
}
.large-text {
	font-size: 20rem;
	margin: .25em;
}
/*Must be not a cube because it has a very unique water mark mode*/
.watermark:not(.cube) {
	color: var(--white);
	opacity: 0.15;
	-webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
	-webkit-text-stroke: 2.5px var(--white);
	user-select: none;
	transition: all 0.3s ease-out;
	white-space: nowrap;
	font-size: 5rem;
	font-weight: 500;
	line-height: 1.5em;
	text-shadow: none;
}
.watermark:not(.cube) * {
	text-shadow: none;
}
.watermark:not(.cube).solid {
	-webkit-text-fill-color: var(--white);
	opacity: 0.25;
	transform: translateX(-1rem);
}
.no-overflow {
	overflow: hidden;
}
.link-button {
	text-transform: uppercase;
    border: 0.25rem solid var(--white);
    border-radius: 1rem;
	box-shadow: 0 .5rem 0 0 var(--white);
	margin: 1em;
    padding: 1em;
	transition: all .1s ease-out;
}
.link-button:hover, .link-button:focus {
	box-shadow: 0 0 0 0 var(--white);
	transform: translateY(.5rem);
	animation: multi-color-border 5s linear infinite alternate;
}
.link-button.dark {
	border-color: var(--black);
	box-shadow: 0 .5rem 0 0 var(--black);
	color: var(--black);
	animation: none;
}
.link-button.dark:hover,
.link-button.dark:focus {
	box-shadow: 0 0 0 0 var(--black);
}

/*Animate Classes*/
strong, .multi-color {
	color: var(--white);
	animation: multi-color 10s linear infinite alternate;
}
.multi-color {
	animation: multi-color-background 5s linear infinite alternate;
}
.cube.animated {
	animation: spin-anim 10s ease-in-out infinite;
}
.cube.animated .face {
	animation: multi-color-border 5s linear infinite alternate;
}
.line {
	width: 100%;
	height: 10%;
	border-radius: 1rem;
	background-color: var(--white);
	transition: all .5s ease-out;
}
@keyframes multi-color {
	0% { color: var(--yellow) }
	25% { color: var(--purple) }
	50% { color: var(--blue) }
	75% { color: var(--green) }
	100% { color: var(--red) }
}
@keyframes multi-color-background {
	0% { background-color: var(--yellow) }
	25% { background-color: var(--purple) }
	50% { background-color: var(--blue) }
	75% { background-color: var(--green) }
	100% { background-color: var(--red) }
}
@keyframes multi-color-border {
	0% { border-color: var(--yellow) }
	25% { border-color: var(--purple) }
	50% { border-color: var(--blue) }
	75% { border-color: var(--green) }
	100% { border-color: var(--red) }
}
@keyframes move-background {
	0% { background-position: bottom left }
	100% { background-position: top right }
}
@keyframes spin-anim {
	0% { transform: perspective(400px) rotateX(0turn) rotateY(0turn) rotateZ(0turn) }
	14.28% { transform: perspective(400px) rotateX(1turn) rotateY(0turn) rotateZ(0turn) }
	28.57% { transform: perspective(400px) rotateX(1turn) rotateY(1turn) rotateZ(0turn) }
	42.85% { transform: perspective(400px) rotateX(1turn) rotateY(1turn) rotateZ(1turn) }
	57.14% { transform: perspective(400px) rotateX(0turn) rotateY(0turn) rotateZ(0turn) }
	71.42% { transform: perspective(400px) rotateX(-1turn) rotateY(0turn) rotateZ(0turn) }
	85.71% { transform: perspective(400px) rotateX(-1turn) rotateY(-1turn) rotateZ(0turn) }
	100% { transform: perspective(400px) rotateX(-1turn) rotateY(-1turn) rotateZ(-1turn) }
}
@keyframes float-anim {
	0% { transform: translateY(0%) }
	100% { transform: translateY(50%) }
}

/*Cursor and other fixed elements*/
.fixed-element {
	position: fixed;
	z-index: 999;
	left: 0;
	top: 0;
}
:not(section).fixed-element {
	pointer-events: none;
	user-select: none;
	opacity: .8;
}
.square {
	height: 2rem;
	width: 2rem;
	margin: 0 auto;
}
#cursor {
	width: 50px;
	height: 50px;
	transform-origin: center center;
	transition: all 0.1s ease-out;
	transition-property: width, height, border-radius;
}
#cursor img {
	width: 100%;
	user-select: none;
}
#cursor.select {
	width: 60px;
	height: 60px;
}
#cursor.focus, #cursor.select {
	opacity: .25;
}
.no-cursor * {
	cursor: none !important;
}

@media (prefers-reduced-motion: reduce) {
	*,
	::before,
	::after {
		animation-delay: -1ms !important;
		animation-duration: 1ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0s !important;
		transition-delay: 0s !important;
	}
}
.no-anim, .no-anim * {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
	-webkit-animation: none !important;
	-moz-animation: none !important;
	-o-animation: none !important;
	animation: none !important;
}

/*Background effect for homepage*/
.background div  {
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-color: var(--dark);
	position: absolute;
}

/*-----------------Responsitivity (Mobile First Design)-----------------*/
@media screen and (min-width: 50rem) {
	/*Typography*/
	h1 { font-size: 7rem }
	h2 { font-size: 5rem }
	.link-button, p { font-size: 1.2rem }

	/*Aside*/
	aside {
		position: absolute;
		/*So it lines up with the nav*/
		right: 2.5%;
		top: 50%;
		width: 25rem;
		height: 95%;
		transform: translateY(-50%);
	}
	aside.expandable {
		transform: translate(100%,-50%);
		opacity: 0;
	}
	aside.expandable.expand {
		transform: translateY(-50%);
		opacity: 1;
	}
	.expand-button {
		display: none;
	}

	/*Navbar*/
	nav.vertical {
		transform: translate(-25%, -50%);
		clip-path: circle(2.5rem at 50% 2.5rem);
	}
	nav.open {
		transform: translateY(-50%);
		clip-path: circle(100% at 50% 50%);
	}

	/*Misc.*/
	#hero-text {
		bottom: 1em;
		transform: translateX(-50%);
	}
	.square {
		height: 3rem;
		width: 3rem;
	}
	.watermark:not(.cube) {
		font-size: 7rem;
	}
	[class*="container"][class*="text-"] {
		padding: 2.5rem 7rem;
	}
}
@media screen and (min-width: 75rem) {
	[class*="container"][class*="text-"] {
		padding: 2.5rem 15rem;
	}
}